VITE_API_BASE_URL=http://localhost:3000
VITE_OIDC_ISSUER=http://localhost:8080
VITE_OIDC_CLIENT_ID=5BOOTLIGWdWN9Y1OYrjk7A
VITE_OIDC_REDIRECT_URI=http://localhost:5173/auth/callback
VITE_AUTHPLEX_TENANT_ID=4aa2670c-2a50-5851-a4e4-f4931e6f49e5
